<div class="row">
    <div class="col-sm-12 text-center" id="chcont">
        <div id="chform">
            <h3>Promeni lozinku</h3>
            <table>
                <tr>
                    <td><b>Stara lozinka:</b></td>
                    <td><input type="password" [(ngModel)]="oldPass"></td>
                </tr>
                <tr>
                    <td><b>Nova lozinka:</b></td>
                    <td><input type="password" [(ngModel)]="newPass"></td>
                </tr>
                <tr>
                    <td><b>Potvrda:</b></td>
                    <td><input type="password" [(ngModel)]="confirm"></td>
                </tr>
                <tr>
                    <td id="buttontd" colspan="2"><button class="btn btndet" (click)="change()">Promeni lozinku</button> <br>
                        <b>{{msg}}</b></td>
                </tr>
            </table>
        </div>
       
    

    </div>
</div>
