td.upd:nth-child(odd){
    text-align: right;
    padding-right: 15px;
}
td.upd:nth-child(even){
    text-align: left;
    padding-left: 15px;
}

#buttontd {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

#regform {
    background-color: #ffd5c2;
    border-radius: 5px;
    width: fit-content;
    padding: 40px;
    margin-top: 20px;

    border: solid 2px #588b8b ;
}

#regcont {
    display: flex;
    justify-content: space-around;
}

.btndet {
    background: #588b8b;
    color: white;
}
.btndet:hover{
    background: #79A9A9;
}
input[type="file"] {
    display: none;
}
.coverlabel {
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #588b8b;
    color: white;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    vertical-align: middle;
}
.coverlabel:hover{
    background: #79A9A9;
}

#updform {
    background-color: #ffd5c2;
    border-radius: 5px;
    width: fit-content;
    padding: 20px;
    margin-top: 20px;

    border: solid 2px #588b8b ;
}

#updcont {
    display: flex;
    justify-content: space-around;
}