<div class="row">
<div class="col-sm-12 text-center" id="rescont">
    <div id="resform">
        <h3>Resetovanje lozinke</h3>
        <table>
            <tr>
                <td><b>Email:</b> <input type="text" [(ngModel)]="email" style="margin-left: 5px; height: 100%;"></td>
                
                <td id="buttontd">
                    <button class="btn btndet" (click)="changePassword()">Resetuj</button> <br>
                    
                </td>
            </tr>
        </table>
        <span style="font-weight: bold; color: green;">{{msg}}</span>
    </div>



</div>
</div>