table {
    margin: 0 auto; 
}

td:nth-child(odd){
    text-align: right;
    padding-right: 15px;
}
td:nth-child(even){
    text-align: left;
    padding-left: 15px;
}

#buttontd {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

#resform {
    background-color: #ffd5c2;
    border-radius: 5px;
    width: fit-content;
    padding: 40px;
    margin-top: 20px;

    border: solid 2px #588b8b ;
}

#rescont {
    display: flex;
    justify-content: space-around;
}

.btndet {
    background: #588b8b;
    color: white;
}
.btndet:hover{
    background: #79A9A9;
}